{% extends 'layout.html.twig' %}

{% block content %}
    <section class="jumbotron text-center">
        <div class="container">
            {% include 'components/_tables.html.twig' %}
        </div>
    </section>
{% endblock content %}

